<% pagination = paginate @providers, theme: 'custom' %>

<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <%= render partial: '/shared/cards/card_header_with_search', locals: {
        search_url: providers_path, new_url: new_provider_path, title: label_for_model(Provider)} %>

      <div class="card-content table-responsive">
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table">
          <thead>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, Provider.human_attribute_name(:hash_id)) %>
            </th>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, Provider.human_attribute_name(:name)) %>
            </th>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, User.human_attribute_name(:address)) %>
            </th>
            <%= content_tag(:th, Provider.human_attribute_name(:phone_number)) %>
            <%= content_tag(:th, Provider.human_attribute_name(:contact)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @providers %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
