<div class="row">
  <%= render 'search_header' %>
  <%= render 'active_providers_header' %>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header" data-background-color="green">
        <%= content_tag(:h4, t('.list'), class: 'title') %>
        <p class="category"></p>
      </div>
      <div class="card-content table-responsive">
        <table class="table">
          <thead>
            <%= content_tag(:th, Provider.human_attribute_name(:hash_id)) %>
            <%= content_tag(:th, Provider.human_attribute_name(:name)) %>
            <%= content_tag(:th, Provider.human_attribute_name(:address)) %>
            <%= content_tag(:th, Provider.human_attribute_name(:phone_number)) %>
            <%= content_tag(:th, Provider.human_attribute_name(:contact)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @providers %>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center" colspan="6">
                <%= paginate @providers, theme: 'custom' %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>
</div>
