<% pagination = paginate @bb_products, theme: 'custom' %>

<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <%= render partial: '/shared/cards/card_header_with_search',
        locals: {
          search_url: bb_products_path, new_url: new_bb_product_path,
          title: label_for_model(BbProduct), required_role: User::ROLES[:administration]
        } %>

      <div class="card-content table-responsive">
        <div class="text-center">
          <%= link_to label_for_model(BbEntryReport), bb_entry_reports_path,
            class: 'btn btn-info' if current_user.has_role?(User::ROLES[:formulation], or: [User::ROLES[:packing], User::ROLES[:administration]]) %>

          <%= link_to label_for_model(BbExitReport), bb_exit_reports_path,
            class: 'btn btn-warning' if current_user.has_role?(User::ROLES[:warehouse], or: [User::ROLES[:administration]]) %>

          <%= link_to label_for_model(Stock), bb_stocks_path,
            class: 'btn btn-primary' if current_user.has_role?(User::ROLES[:warehouse], or: [User::ROLES[:administration]]) %>
        </div>
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table table-hover">
          <thead>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, BbProduct.human_attribute_name(:hash_id)) %>
            </th>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, BbProduct.human_attribute_name(:name)) %>
            </th>
            <%= content_tag(:th, BbProduct.human_attribute_name(:presentation)) %>
            <%= content_tag(:th, t(:updated_at)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @bb_products %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
