<tr>
  <td>
    <%= link_to stock.product,
      provider_product_path(stock.product.provider, stock.product) %>
  </td>
  <td>
    <%= link_to stock.product.provider, provider_path(stock.product.provider) %>
  </td>
  <%= content_tag(:td, stock.batch) %>
  <%= content_tag(:td, l(stock.expiration_date)) %>
  <%= content_tag(:td, "#{stock.bulk} (#{stock.original_bulk})") %>
  <%= content_tag(:td, stock.invoice_folio) %>
  <%= content_tag(:td, l(stock.invoice_date)) %>
</tr>
