<html>
  <head>
    <title>Black Brocket Material Processing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div class="container-fluid">
      <div class="text-center">
        <%= content_tag(:h5, t('.title'), class: 'uppercase') %>
        <h6>Black Brocket de México, S. de R.L. de C.V.</h6>
      </div>

      <div class="row" style="text-align: right;">
        <p style="font-size: .9em;">
          <%= t('.date', date: l(Time.now, format: :long)) %>
        </p>
        <p style="font-size: .9em;">
          <%= t('.report_requested_by', subject: current_user) %>
        </p>
      </div>

      <div class="row">
        <div class="pull-left" style="width: 33%; padding: 1em;">
          <%= content_tag(:h4, Product.model_name.human, class: 'text-center') %>
          <table class="table">
            <tbody>
              <tr><%= content_tag(:td, Provider.model_name.human, class: 'strong') %></tr>
              <tr><%= content_tag(:td, @provider) %></tr>
              <tr><%= content_tag(:td, Product.model_name.human, class: 'strong') %></tr>
              <tr><%= content_tag(:td, @product) %></tr>
              <tr><%= content_tag(:td, Stock.human_attribute_name(:batch), class: 'strong') %></tr>
              <tr><%= content_tag(:td, @stock.batch) %></tr>
              <tr><%= content_tag(:td, Stock.human_attribute_name(:bulk), class: 'strong') %></tr>
              <tr><%= content_tag(:td, "#{@stock.bulk} (#{@stock.original_bulk})") %></tr>
            </tbody>
          </table>
        </div>

        <div class="pull-left" style="width: 66%; padding: 1em;">
          <%= content_tag(:h4, label_for_model(DevelopmentOrder), class: 'text-center') %>
          <table class="table table-striped table-bordered">
            <thead>
              <%= content_tag(:th, DevelopmentOrder.human_attribute_name(:hash_id)) %>
              <%= content_tag(:th, t('.units_used')) %>
            </thead>
            <tbody>
              <% total_units_used = 0 %>
              <% @supplies.each do |supply| %>
                <% total_units_used += supply.bulk %>
                <tr>
                  <%= content_tag(:td, supply.order.hash_id) %>
                  <%= content_tag(:td, supply.bulk) %>
                </tr>
              <% end %>
              <tr>
                <%= content_tag(:td, t('.total_units_used'), class: 'strong') %>
                <%= content_tag(:td, total_units_used) %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <style media="screen">
      .uppercase{ text-transform: uppercase; }
      .lowercase{ text-transform: lowercase; }
      .capitalize{ text-transform: capitalize; }
      .strong{ font-weight: bold; }

      table.table{ font-size: .8em; }
      table.table tr td{ padding: .3em .5em .3em .5em; }
    </style>
  </body>
</html>
