<% pagination = paginate @users, theme: 'custom' %>

<div class="row">
  <%= render partial: '/shared/cards/search',
    locals: {instance: User, attrs: [:name, :email, :hash_id], url: users_path} %>
  <%= render partial: '/shared/cards/new_instance', locals: {url: new_user_path} %>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header" data-background-color="green">
        <%= content_tag(:h4, t('.list'), class: 'title') %>
        <p class="category"></p>
      </div>
      
      <div class="card-content table-responsive">
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table">
          <thead>
            <%= content_tag(:th, User.human_attribute_name(:avatar)) %>
            <%= content_tag(:th, User.human_attribute_name(:hash_id)) %>
            <%= content_tag(:th, User.human_attribute_name(:name)) %>
            <%= content_tag(:th, User.human_attribute_name(:phone_number)) %>
            <%= content_tag(:th, User.human_attribute_name(:cell_phone_number)) %>
            <%= content_tag(:th, User.human_attribute_name(:email)) %>
            <%= content_tag(:th, User.human_attribute_name(:roles)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
