<% pagination = paginate @users, theme: 'custom' %>

<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <%= render partial: '/shared/cards/card_header_with_search', locals: {
        search_url: users_path, new_url: new_user_path, title: label_for_model(User)} %>

      <div class="card-content table-responsive">
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table table-hover">
          <thead>
            <%= content_tag(:th, User.human_attribute_name(:avatar)) %>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, User.human_attribute_name(:hash_id)) %>
            </th>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, User.human_attribute_name(:name)) %>
            </th>
            <%= content_tag(:th, User.human_attribute_name(:phone_number)) %>
            <%= content_tag(:th, User.human_attribute_name(:cell_phone_number)) %>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, User.human_attribute_name(:email)) %>
            </th>
            <%= content_tag(:th, User.human_attribute_name(:roles)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
