<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <%= content_tag(:h4, t('.title', subject: @report.hash_id), class: 'title') %>
      </div>
      <div class="card-content">
        <table class="table">
          <thead>
            <%= content_tag(:th, Product.model_name.human) %>
            <%= content_tag(:th, t('.bulk')) %>
            <%= content_tag(:th, t('.tare')) %>
            <%= content_tag(:th, t('.batch')) %>
            <%= content_tag(:th, t('.expiration_date')) %>
            <%= content_tag(:th, t('.invoice_folio')) %>
            <%= content_tag(:th, t('.invoice_date')) %>
          </thead>
          <tbody>
            <%= render @report.details.includes(:product) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= render partial: '/shared/cards/editor', locals: {user: @report.user} %>
</div>
