<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header" data-background-color="purple">
        <%= content_tag(:h4, t('.title'), class: 'title') %>
      </div>

      <div class="card-content table-responsive">
        <h4>
          <%= DevelopmentOrder.human_attribute_name(:supplier_id) %>:
          <%= link_to @supplier, user_path(@supplier) if @supplier %>
          <%= l(@order.supplied_at, format: :short) if @supplier %>
        </h4>

        <h4>
          <%= DevelopmentOrder.human_attribute_name(:supplies_authorizer_id) %>:
          <%= link_to @authorizer, user_path(@authorizer) if @authorizer %>
          <%= l(@order.supplies_authorized_at, format: :short) if @authorizer %>
        </h4>

        <table class="table table-hover">
          <thead>
            <%= content_tag(:th, Product.model_name.human) %>
            <%= content_tag(:th, Provider.model_name.human) %>
            <%= content_tag(:th, Stock.human_attribute_name(:batch)) %>
            <%= content_tag(:th, Stock.human_attribute_name(:bulk)) %>
          </thead>
          <tbody>
            <%= render @supplies %>
          </tbody>
          <tfoot>
            <% unless @order.supplies_authorized? %>
              <%= link_to t('.authorize'),
                authorize_development_order_supplies_path(@order), method: :put,
                class: 'btn btn-primary', data: {confirm: t('.you_sure')} %>
            <% end %>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
