<div class="fields-group">
  <!-- fields related to provider, product and presentation of the product -->
  <!-- and so an item to remove the group of fields from the document (if needed) -->
  <div class="row">
      <div class="col-md-5">
        <div class="form-group label-floating">
          <%= label_tag :bb_product, BbProduct.model_name.human,
            class: 'control-label' %>
          <%= select_tag 'detail_replace[bb_product_id]',
            options_from_collection_for_select(@bb_products, :id, :to_s),
            class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group label-floating">
          <%= label_tag :units, t(:units), class: 'control-label' %>
          <%= number_field_tag 'detail_replace[units]', '', class: 'form-control bulk',
            min: 0, step: 1, required: true %>
        </div>
      </div>
      <div class="col-md-2">
        <span class="btn btn-danger btn-round btn-just-icon pull-right"
              onclick="$(this).parents('.fields-group').remove();">
          <i class="material-icons">close</i>
        </span>
      </div>
  </div>
  <!-- fields related to provider, product and presentation of the product -->

  <!-- fields related product information -->
  <div class="row">
      <div class="col-md-6">
        <div class="form-group label-floating">
          <%= label_tag :batch, t(:batch), class: 'control-label' %>
          <%= text_field_tag 'detail_replace[batch]', '', class: 'form-control',
            maxlength: 220, required: true %>
        </div>
      </div>
  </div>
  <!-- fields related product information -->

  <hr data-border-color="blue">
</div>
