<% pagination = paginate @stocks, theme: 'custom' %>

<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <% title = label_for_model(Stock) %>
      <% title = t('stocks.index.depleted') if params[:depleted].present? %>
      <%= render partial: '/shared/cards/card_header_with_search', locals: {
        search_url: bb_stocks_path, new_url: nil, title: title} %>

      <div class="card-content table-responsive">
        <div class="text-center">
          <%= link_to t('stocks.index.depleted'), bb_stocks_path(depleted: true),
            class: 'btn btn-white btn-sm' unless params[:depleted] == 'true' %>
        </div>
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table table-hover">
          <thead>
            <%= content_tag(:th, BbProduct.model_name.human) %>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, Stock.human_attribute_name(:batch)) %>
            </th>
            <%= content_tag(:th, Stock.human_attribute_name(:expiration_date)) %>
            <%= content_tag(:th, t(:units)) %>
          </thead>
          <tbody>
            <%= render @stocks %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
