<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <%= content_tag(:h4, @good, class: 'title') %>
      </div>
      <div class="card-content">
        <%= content_tag(:h4, t('.registries'), class: 'title') %>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <%= content_tag(:th, User.model_name.human) %>
            <%= content_tag(:th, t('.action')) %>
            <%= content_tag(:th, t('.date')) %>
          </thead>
          <tbody>
            <% @registries.each do |registry| %>
            <tr>
              <td>
                <%= link_to registry.user, user_path(registry.user) %>
              </td>
              <%= content_tag(:td, t(".#{registry.descriptor}")) %>
              <%= content_tag(:td, l(registry.created_at, format: :short)) %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
