<div class="fields-group">
  <!-- fields related to product information -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= label_tag :main_category, t('.main_category'), class: 'control-label' %>
        <%= select_tag 'category_id', options_from_collection_for_select(@main_categories, :hash_id, :name),
            prompt: t(:select), class: 'form-control', required: true,
            onchange: 'fetchSubcategories(this);' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= label_tag :subcategory, t('.subcategory'), class: 'control-label' %>
        <%= select_tag 'product_replace[product_category_id]', nil,
          class: 'form-control subcategory', required: true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group label-floating">
        <%= label_tag :bulk, t('.bulk'), class: 'control-label' %>
        <%= number_field_tag 'product_replace[bulk]', nil, class: 'form-control',
          min: 1, step: 0.1, required: true %>
      </div>
    </div>
    <div class="col-md-2">
      <span class="btn btn-danger btn-round btn-just-icon pull-right"
            onclick="$(this).parents('.fields-group').remove();">
        <i class="material-icons">close</i>
      </span>
    </div>
  </div>
  <!-- fields related to product information -->

  <hr data-border-color="purple">
</div>
