<%= form_for @order, html: { class: 'form' } do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= label_tag :transformation, t('.for_transformation'), class: 'control-label' %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="development_order[transform]"
              id="development_order_transform" onchange="updateFields(this);">
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group label-floating">
        <div class="order_description">
          <%= f.label :description, class: 'control-label' %>
          <%= f.text_field :description, class: 'form-control',
            maxlength: 220, required: true %>
        </div>
        <div class="order_product hidden">
          <%= f.label :product_id, class: 'control-label' %>
          <%= select_tag 'development_order[product_id]',
            options_from_collection_for_select(@products, :id, :to_s),
            prompt: '', class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= f.label :required_date, class: 'control-label' %>
        <%= f.text_field :required_date, class: 'form-control datepicker',
          maxlength: 15, required: true, data: {date_start_date: '0d'} %>
      </div>
    </div>
  </div>
  <hr data-border-color="blue">
  <div id="fields_container"></div>

  <%= f.submit t('save'), class: 'btn btn-primary pull-right remove-on-show' %>
  <%= link_to t(:add_fields_row), '#', class: 'btn btn-white pull-right remove-on-show', onclick: 'addFieldsToForm();' %>
  <div class="clearfix"></div>
<% end %>

<script type="text/javascript">
base_url = "<%= all_products_path(class: {search: ''}, format: :json) %>";
var products = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: base_url,
  remote: {
    url: base_url + '%QUERY',
    wildcard: '%QUERY'
  }
});

$(document).ready(function(){
  addFieldsToForm();
});

function addFieldsToForm(){
  // html to be rendered (1 more row of fields for the form)
  to_render = "<%= j render 'form_fields_group' %>"
  id = "product_" + makeId(8);
  to_render = to_render.replace(new RegExp("product_replace", 'g'), id);
  $("#fields_container").append(to_render);

  // init datepicker
  initDatePicker();

  string = "typeahead";
  $("."+id).typeahead({
    hint: false
  },
  {
    name: 'products',
    display: 'name',
    source: products
  });
}

function updateFields(trigger){
  if(trigger.checked){
    $('.order_product').removeClass('hidden');
    $('#development_order_product_id').attr('required', 'required');
    $('.order_description').addClass('hidden');
    $('#development_order_description').removeAttr('required');
  }else{
    $('.order_product').addClass('hidden');
    $('#development_order_product_id').removeAttr('required');
    $('.order_description').removeClass('hidden');
    $('#development_order_description').attr('required', 'required');
  }
}
</script>
