<% pagination = paginate @orders, theme: 'custom' %>

<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <%= render partial: '/shared/cards/card_header_with_search', locals: {
        search_url: development_orders_path, new_url: new_development_order_path,
        title: label_for_model(DevelopmentOrder)} %>

      <div class="card-content table-responsive">
        <div class="text-center">
          <%= link_to t('.only_authorized'), development_orders_path(only_authorized: true),
            class: 'btn btn-info' unless params[:only_authorized].present? %>
        </div>
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table table-hover">
          <thead>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, DevelopmentOrder.human_attribute_name(:hash_id)) %>
            </th>
            <%= content_tag(:th, DevelopmentOrder.human_attribute_name(:user_id)) %>
            <%= content_tag(:th, DevelopmentOrder.human_attribute_name(:supplier_id)) %>
            <%= content_tag(:th, DevelopmentOrder.human_attribute_name(:supplies_authorizer_id)) %>
            <%= content_tag(:th, DevelopmentOrder.human_attribute_name(:description)) %>
            <%= content_tag(:th, DevelopmentOrder.human_attribute_name(:required_date)) %>
            <%= content_tag(:th, t(:created_at)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @orders %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
