<% pc = category %>

<tr>
  <%= content_tag(:td, (link_to pc.hash_id, category_path(pc))) %>
  <%= content_tag(:td, pc.name) %>
  <%= content_tag(:td, time_ago_in_words(pc.updated_at)) %>
  <td>
    <!-- pass on the category_id which we use to filter subcategories -->
    <%= link_to t('.sub_categories'),
      categories_path(parent: pc),
      class: 'btn btn-white btn-round' unless parent_param.present? %>
    <%= link_to edit_category_path(pc, parent: parent_param),
      class: 'btn btn-white btn-round btn-just-icon' do %>
      <i class="material-icons">edit</i>
    <% end %>
    <%= link_to category_path(pc, parent: parent_param),
      class: 'btn btn-danger btn-round btn-just-icon', method: :delete,
      data: { confirm: t('.you_sure', category: pc) } do %>
      <i class="material-icons">delete</i>
    <% end %>
  </td>
</tr>
