<%= form_for @category, html: { class: 'form' } do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-md-4">
    <div class="form-group label-floating">
      <%= f.label :hash_id, class: 'control-label' %>
      <%= f.text_field :hash_id, class: 'form-control', disabled: true %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group label-floating">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
</div>

<input type="hidden" name="parent" value="<%= parent_param %>" />
<%= f.submit t(:save), class: 'btn btn-primary pull-right remove-on-show' %>
<div class="clearfix"></div>
<% end %>
