<% pagination = paginate @categories, theme: 'custom' %>

<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <%= render partial: 'card_header_with_search', locals: {title: @header_title} %>

      <div class="card-content table-responsive">
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table table-hover">
          <thead>
            <th>
              <i class="material-icons">search</i>
              <%= Category.human_attribute_name(:hash_id) %>
            </th>
            <th>
              <i class="material-icons">search</i>
              <%= Category.human_attribute_name(:name) %>
            </th>
            <%= content_tag(:th, t(:updated_at)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @categories %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
