<% pagination = paginate @provider_products, theme: 'custom' %>

<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <%= render partial: '/shared/cards/card_header_with_search',
        locals: {
          search_url: provider_products_path, new_url: new_provider_product_path,
          title: t('.title', subject: @provider)
        } %>

      <div class="card-content table-responsive">
        <%= content_tag(:div, pagination, class: 'text-center') %>

        <table class="table">
          <thead>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, ProviderProduct.human_attribute_name(:hash_id)) %>
            </th>
            <%= content_tag(:th, ProviderProduct.human_attribute_name(:product_category_id)) %>
            <th>
              <i class="material-icons">search</i>
              <%= content_tag(:span, ProviderProduct.human_attribute_name(:name)) %>
            </th>
            <%= content_tag(:th, ProviderProduct.human_attribute_name(:presentation)) %>
            <%= content_tag(:th, ProviderProduct.human_attribute_name(:updated_at)) %>
            <%= content_tag(:th, t(:actions)) %>
          </thead>
          <tbody>
            <%= render @provider_products %>
          </tbody>
          <tfoot>
            <tr>
              <%= content_tag(:td, pagination, {colspan: 10, class: 'text-center'}) %>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>
