<%= form_for [@order, @formulation_process], html: { class: 'form' } do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.hidden_field :user_id, value: current_user.id %>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :product_name, class: 'control-label' %>
    <%= f.text_field :product_name, class: 'form-control',
      required: true, maxlength: 220 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :batch, class: 'control-label' %>
    <%= f.text_field :batch, class: 'form-control',
      required: true, maxlength: 10, minlength: 10 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :net_amount, class: 'control-label' %>
    <%= f.text_field :net_amount, class: 'form-control', required: true,
      maxlength: 220 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :number_of_cuvettes, class: 'control-label' %>
    <%= f.text_field :number_of_cuvettes, class: 'form-control', required: true,
      maxlength: 220 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :prorated_expiration_date, class: 'control-label' %>
    <%= f.text_field :prorated_expiration_date, class: 'form-control datepicker',
      required: true, maxlength: 20 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :gustatory_expiration_date, class: 'control-label' %>
    <%= f.text_field :gustatory_expiration_date, class: 'form-control datepicker',
      required: true, maxlength: 20 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :microbial_expiration_date, class: 'control-label' %>
    <%= f.text_field :microbial_expiration_date, class: 'form-control datepicker',
      required: true, maxlength: 20 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :product_life, class: 'control-label' %>
    <%= f.text_field :product_life, class: 'form-control', required: true,
      maxlength: 220 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :equipment_used, class: 'control-label' %>
    <%= f.text_area :equipment_used, class: 'form-control', required: true,
      maxlength: 512, rows: 5 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :temperature, class: 'control-label' %>
    <%= f.text_field :temperature, class: 'form-control', required: true,
      maxlength: 220 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :homogeneization_time, class: 'control-label' %>
    <%= f.text_field :homogeneization_time, class: 'form-control', required: true,
      maxlength: 220 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :total_formulation_time, class: 'control-label' %>
    <%= f.text_field :total_formulation_time, class: 'form-control', required: true,
      maxlength: 220 %>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group label-floating">
    <%= f.label :comment, class: 'control-label' %>
    <%= f.text_area :comment, class: 'form-control', maxlength: 512, rows: 5 %>
  </div>
</div>

<%= f.submit t(:save), class: 'btn btn-primary pull-right remove-on-show' %>
<div class="clearfix"></div>
<% end %>
