<div class="row">
  <div class="col-md-12">

    <div class="card card-nav-tabs">
      <div class="card-header" data-background-color="purple">
        <%= content_tag(:h4, label_for_model(FormulationProcess), class: 'title') %>
      </div>

      <div class="card-content table-responsive">

        <table class="table table-hover">
          <thead>
            <%= content_tag(:th, FormulationProcess.human_attribute_name(:hash_id)) %>
            <%= content_tag(:th, FormulationProcess.human_attribute_name(:product)) %>
            <%= content_tag(:th, FormulationProcess.human_attribute_name(:batch)) %>
            <%= content_tag(:th, t(:created_at)) %>
          </thead>
          <tbody>
            <%= render @formulation_processes %>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
