<div class="row">
  <%= render 'batch_form' %>

  <div class="col-md-8">
    <div class="card">
      <%= render partial: '/shared/cards/form_header',
        locals: {title: params[:id], instance: @formulation_process} %>
      <div class="card-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <%= content_tag(:h4, t('.supplies'), class: 'title') %>
      </div>
      <div class="card-content">
        <table class="table table-hover">
          <thead>
            <%= content_tag(:th, Product.model_name.human) %>
            <%= content_tag(:th, Provider.model_name.human) %>
            <%= content_tag(:th, Stock.human_attribute_name(:batch)) %>
            <%= content_tag(:th, Stock.human_attribute_name(:bulk)) %>
            <%= content_tag(:th, t(:invoice_folio)) %>
            <%= content_tag(:th, t(:invoice_date)) %>
          </thead>
          <tbody>
            <%= render @order.supplies.includes(stock: {product: :provider}) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style media="screen">
  .form .form-group {
    padding-bottom: 0 !important;
    margin: 0 !important;
  }
</style>
