<!DOCTYPE html>
<html>
  <head>
    <title>Black Brocket Material Processing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <%= csrf_meta_tags %>

    <!--     Style Sheets        -->
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

    <!--     Java Scripts        -->
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  	<div class="wrapper">
      <%= render '/layouts/sidebar' %>

	    <div class="main-panel">
  			  <%= render '/layouts/navbar' %>

    			<div class="content">
    				<div class="container-fluid">
                <!--Alerts-->
                <% flash.each do |message_type, message| %>
                  <script type="text/javascript">
                    $(document).ready(function(){
                      notification.new(
                        '<%= message_type %>','<%= message %>','top','center');
                    });
                  </script>
                <% end %>
                <!--End Alerts-->

                <%= render '/shared/breadcrumbs' if breadcrumbs.any? %>
                <%= yield %>
    				</div>
    			</div>

          <%= render '/layouts/footer' %>
  		  </div>
  	</div>

    <%= render '/shared/modal' %>

    <script type="text/javascript">
      $(document).ready(function(){
        // init parsley
        $(".form").parsley();
        <% if params[:action] == 'show' %>
        $(".form :input").attr("disabled", true);
        $(".remove-on-show").remove();
        <% end %>
      });
    </script>

  </body>
</html>
